<div class="sideBar d-flex flex-column">
  <div class="sideBar-menu m-3">
    <span>Home</span>
  </div>
  <div class="sideBar-menu m-3">
    <span>Explore</span>
  </div>
  <div class="sideBar-menu m-3">
    <span>Notifications</span>
  </div>
  <div class="sideBar-menu m-3">
    <span>Messages</span>
  </div>
  <div class="sideBar-menu m-3">
    <span>Bookmarks</span>
  </div>
  <div class="sideBar-menu m-3">
    <span>Lists</span>
  </div>
  <div class="sideBar-menu m-3">
    <span>Profile</span>
  </div>
  <div class="sideBar-menu m-3">
    <span>More</span>
  </div>
  <div class="sideBar-button m-3 mb-auto">
    <button class="btn btn-info">Tweet</button>
  </div>
  <div class="sideBar-info m-3">
    <span>Earl Hans Pelin Genoso</span>
  </div>
</div>