<div class="sideBar d-flex flex-column">
  <div class="sideBar-menu mt-3 ml-3">
    <!-- <fa-icon [icon]="faKiwiBird" size="lg"></fa-icon> -->
    <span class="sideBar-menu__btn">
      <fa-icon [icon]="faKiwiBird" size="lg"></fa-icon>
    </span>
  </div>
  <div class="sideBar-menu mt-2 ml-3">
    <span class="sideBar-menu__btn">
      <fa-icon [icon]="faHome" size="lg"></fa-icon>
      <span class="ml-3">Home</span>
    </span>
  </div>
  <div class="sideBar-menu mt-2 ml-3">
    <!-- <fa-icon [icon]="faHashtag" size="lg"></fa-icon>
    <span class="ml-3">Explore</span> -->
    <span class="sideBar-menu__btn">
      <fa-icon [icon]="faHashtag" size="lg"></fa-icon>
      <span class="ml-4">Explore</span>
    </span>
  </div>
  <div class="sideBar-menu mt-2 ml-3">
    <!-- <fa-icon [icon]="faBell" size="lg"></fa-icon>
    <span class="ml-3">Notifications</span> -->
    <span class="sideBar-menu__btn">
      <fa-icon [icon]="faBell" size="lg"></fa-icon>
      <span class="ml-4">Notifications</span>
    </span>
  </div>
  <div class="sideBar-menu mt-2 ml-3">
    <!-- <fa-icon [icon]="faEnvelope" size="lg"></fa-icon>
    <span class="ml-3">Messages</span> -->
    <span class="sideBar-menu__btn">
      <fa-icon [icon]="faEnvelope" size="lg"></fa-icon>
      <span class="ml-4">Messages</span>
    </span>
  </div>
  <div class="sideBar-menu mt-2 ml-3">
    <!-- <fa-icon [icon]="faBookmark" size="lg"></fa-icon>
    <span class="ml-3">Bookmarks</span> -->
    <span class="sideBar-menu__btn">
      <fa-icon [icon]="faBookmark" size="lg"></fa-icon>
      <span class="ml-4">Bookmarks</span>
    </span>
  </div>
  <div class="sideBar-menu mt-2 ml-3">
    <!-- <fa-icon [icon]="faList" size="lg"></fa-icon>
    <span class="ml-3">Lists</span> -->
    <span class="sideBar-menu__btn">
      <fa-icon [icon]="faList" size="lg"></fa-icon>
      <span class="ml-4">Lists</span>
    </span>
  </div>
  <div class="sideBar-menu mt-2 ml-3">
    <!-- <fa-icon [icon]="faUser" size="lg"></fa-icon>
    <span class="ml-3">Profile</span> -->
    <span class="sideBar-menu__btn">
      <fa-icon [icon]="faUser" size="lg"></fa-icon>
      <span class="ml-4">Profile</span>
    </span>
  </div>
  <div class="sideBar-menu mt-2 ml-3">
    <!-- <fa-icon [icon]="faEllipsisH" size="lg"></fa-icon>
    <span class="ml-3">More</span> -->
    <span class="sideBar-menu__btn">
      <fa-icon [icon]="faEllipsisH" size="lg"></fa-icon>
      <span class="ml-4">More</span>
    </span>
  </div>
  <div class="sideBar-button m-3 mb-auto">
    <button class="btn btn-info">Tweet</button>
  </div>
  <div class="sideBar-info m-3">
    <span>Earl Hans Pelin Genoso</span>
  </div>
</div>