@import 'src/styles';

.sideBar {
  width: 100%;
  height: 100vh !important;
}

.sideBar {

  &-menu {

    &__btn {
      display: inline-block;
      cursor: pointer;
      padding: 0.7rem 1rem;
      border-radius: 25px;
      font-weight: 600;
      transition: all 0.3s;

      &:hover, &:active, &:visited {
        color: $skyBlue-200;
        background-color: $skyBlue-100;
      }
    }
  }

  &-button {
    button {
      border-radius: 25px;
      padding: 0.7rem 4rem;
    }
  }

}