.sideBar {
  width: 100%;
  height: 100vh !important;
}

.sideBar {

  &-menu {

    &__btn {
      display: inline-block;
      background-color: aqua;
      // width: 120px;
      // max-width: 135px;
      cursor: pointer;
      padding: 10px 16px;
      border-radius: 25px;
    }
  }
}