<div class="post mt-2 border-top p-2">
  <div class="post-list">
    <img src="//placehold.it/300" alt="" height="60px" class="rounded-circle float-left ml-2">
    <div class="post-list__info d-flex flex-column">
      <div class="d-flex ml-2">
        <span class="font-weight-bold">Earl Hans Pelin Genoso</span>
        <span class="mr-auto ml-2">@poploy</span>
        <span class="mr-3">
          <fa-icon [icon]="faEllipsisH" size="lg"></fa-icon>
        </span>
      </div>
      <div class="d-flex ml-2">
        <span>Be the change that you wish to see in the world</span>
      </div>
    </div>
    <!-- <div class="post-list__tweet">
      <span>Be the change that you wish to see in the world</span>
    </div> -->
    <div class="post-list__icon">
      icon
    </div>
  </div>
</div>