@import 'src/styles';

.container {
  padding: 0 !important;
}

.home {

  &-icon {
    color: $skyBlue-200;
  }
  
}
.post {
  width: 100%;

  &-content {

    textarea {
      width: 100%;
      height: 3rem;
    }

  }

}

.event {
  &-icon {
    width: 50%;

    span {
      display: inline-block;
      cursor: pointer;
      padding: 0.2rem 0.5rem;
      margin: 0 0.5rem;
      border-radius: 25px;
      font-weight: 600;
      color: $skyBlue-200;
      transition: all 0.3s;

      &:hover, &:active, &:visited {
        background-color: $skyBlue-100;
      }
    }

  }

  &-btn {

    button { 
      border-radius: 25px;
      padding: 0.3rem 1.2rem;
    }

  }

}