<div class="trend d-flex justify-content-center">
  <div class="trend-container mt-2 ml-2 bg-light">
    <div class="trend-container__header d-flex align-items-center p-2">
      <h5 class="mr-auto font-weight-bold">Trends for you</h5>
      <span>
        <fa-icon [icon]="faCog" size="lg"></fa-icon>
      </span>
    </div>
    <!-- end of .trend-container__header -->
    <div class="trend-container__list border-top">
      <div class="d-flex p-2">
        <div class="d-flex flex-column mr-auto p-1">
          <span>Kpop Trending</span>
          <span class="font-weight-bold">#ApologizeToSakura</span>
          <span>31.8k</span>
        </div>
        <span class="mr-2">
          <fa-icon [icon]="faEllipsisH" size="md"></fa-icon>
        </span>
      </div>
    </div>
    <!-- end of .trend-container__list -->
    <div class="trend-container__list border-top">
      <div class="d-flex p-2">
        <div class="d-flex flex-column mr-auto p-1">
          <span>BTS Trending</span>
          <span class="font-weight-bold">#NumberOne</span>
          <span>1.8k</span>
        </div>
        <span class="mr-2">
          <fa-icon [icon]="faEllipsisH" size="md"></fa-icon>
        </span>
      </div>
    </div>
  </div>
  <!-- end of .trend-container  -->
</div>